@use "./variables" as *;

.memotest__home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 22px;
    color: $color-black;
  }

  &__subtitle {
    color: $color-black;
  }

  &__description {
    color: $color-black;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__btn {
      padding: 20px;
      border-radius: 40px;
      border: none;
      height: 90px;
      width: 90px;
      cursor: pointer;
      transition: 0.2s;
      background: $color-primary;
      color: $color-white;
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: $shadow-component;

      &__icon {
        font-size: 50px !important;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
