$color-bg: #e7e8ef;
$color-black: #1e1e1e;
$color-white: #ffffff;

$color-primary: #343854;
$color-secondary: #749c5c;

$color-blue: #b0e2eb;
$color-brown: #efd2ba;
$color-gray: #ddd;
$color-violet: #a29abf;

$shadow-component: 0px 0px 30px rgba(0, 0, 0, 0.1);