@use './styles/app.scss';
@use "./styles/variables" as *;

:root {
  font-family: 'Montserrat', sans-serif;

  color: $color-black;
  background-color: $color-bg;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
